* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.vertical {
    position: relative;
    z-index: 10;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.center {
    text-align: center;
}

#telescopic-text {
  position: relative;
  z-index: 100;
  background: #1E2A31;
  font-family: 'Avenir', sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

h1 {
  margin: 0 10vw;
  font-size: 50px;
  line-height: 70px;
}

.expander {
    padding: 0 10px;
    background: rgba(155,143,120,.2);
    cursor: pointer;
    transition: all ease-in-out .25s;
    color: white;
    text-decoration: none;
}

.expander:hover {
    background: rgba(155,143,120,1);
}

.section {
  display: none;
}

.section.expanded {
  display: inline;
}

#particle-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 60vw;
  width: 40vw;
  opacity: .5;
}

#cases {
  position: relative;
  z-index: 100;
  background: white;
  overflow-x: hidden;
}

.slider .item {
  margin: 0 50px;
  background: #ccc;
  padding: 50px;
  width: 50vw;
  height: 30vh;
  outline: none;
  text-decoration: none;
}

.is-leaving .item:not(.active) {
  animation: fadeOutItem 1s both;
}

@keyframes fadeOutItem {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.is-leaving .item.active {
  animation: growItem .75s both;
  animation-delay: .25s;
}

.is-leaving .item.active h2 {
  animation: fadeOutTitle 1s both;
}

@keyframes growItem {
  0% {
  }

  100% {
    width: 110vw;
    height: 100vh;
    margin-left: -25vw;
    transform-origin: center;
  }
}

.header {
  width: 100vw;
  height: 100vh;
  background: #ccc;
  padding: 50px;
}

.header .close {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
}

.page.is-leaving .header {
  animation: shrinkItem .5s both;
  transform-origin: center;
}

.page.is-leaving .header h1 {
    animation: fadeOutTitle .5s both;
}

@keyframes shrinkItem {
  0% {
    width: 100vw;
    height: 100vh;
  }

    100% {
      margin: 35vh 25vw;
      width: 50vw;
      height: 30vh;
    }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOutTitle {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.item h2, .header h1 {
  font-family: 'Avenir', sans-serif;
  font-weight: 900;
  color: #000;
  font-size: 40px;
  line-height: 50px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header h1 {
  font-size: 100px;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
  background: #F1F4F6;
}

#container {
    height: 100%;
    width: 100%;
}

#about {
  position: relative;
  z-index: 0;
}

#box {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
  width: 60%;
	background: #F1F4F6;
}

.block {
  position: relative;
  z-index: 10;
  height: 100vh;
  width: 100%;
}

.block h1 {
  position: relative;
  margin: 0 0 60px 0;
  font-size: 70px;
  line-height: 70px;
}

.block h1:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    display: block;
    width: 60px;
    height: 6px;
    background: #9B8F78;
}

.block p {
    font-size: 18px;
    line-height: 34px;
}

.container {
    position: relative;
    width: 900px;
    margin: 0 auto;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.block .text {
    display: inline-block;
    width: 40%;
}

.block .image {
    position: relative;
    display: inline-block;
    width: 50%;
    background: #ccc;
    overflow: hidden;
}

.block .image:before {
    content: "";
    display: block;
    padding-top: 140%;
}

.block .image img {
    position: absolute;
    height: 120%;
}

.block .right {
    float: right;
}
